.auth {
	width: 50px;
	height: 50px;
	background-image: url("./img/login.svg");
	background-color: transparent;
	border: none;
	color: var(--white);
}

.userDataWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: var(--white);
}

@media (max-width: 1024px) {
	.auth {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 768px) {
	.auth {
		width: 30px;
		height: 30px;
	}
}