.wrapper {
	position: relative;
}

.likes {
	width: 41px;
	height: 41px;
	font-size: 14px;
	position: absolute;
	left: 10%;
	bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-image: url("./img/heart.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	transition: color 0.3s ease;
}

.likes:hover {
	cursor: pointer;
	color: red;
}

@media (max-width: 1024px) {
	.likes {
		width: 30px;
		height: 30px;
	}
}

.link:hover {
	cursor: pointer;
}
